server/node_modules/
server/jspm_packages/
server/web_modules/

server/logs
server/*.log
server/npm-debug.log*
server/yarn-debug.log*

server/coverage
server/.nyc_output
server/dist
server/build/Release

.env
.env.test
.env.production
.vscode